<div [ngStyle]="setFlexMenuStyles()">

  <accordion>
    <accordion-group heading="Action" style="font-family:verdana;" (click)="showTreeAction()" panelClass="customClass">

      <div [ngStyle]="setActionStyles()" id="action">
        <accordion-group *ngFor="let action of actions" heading="{{action.name}}" style="font-family:verdana;">
          <md-grid-list cols="4" rowHeight="4:3" gutterSize="5px">
            <md-grid-tile *ngFor="let key of action.children | keys" [colspan]="1" [rowspan]="1" [style.background]="'lightblue'" (click)="selectedAction(key.value)">
            </md-grid-tile>
          </md-grid-list>
        </accordion-group>
      </div>

    </accordion-group>


    <accordion-group heading="Trigger" style="font-family:verdana;" (click)="showTreeTrigger()" panelClass="customClass">

      <div [ngStyle]="setTriggerStyles()" id="trigger">
        <accordion-group *ngFor="let trigger of triggers" heading="{{trigger.name}}" style="font-family:verdana;">
          <md-grid-list cols="4" rowHeight="4:3" gutterSize="5px">
            <md-grid-tile *ngFor="let key of trigger.children | keys" [colspan]="1" [rowspan]="1" [style.background]="'lightblue'" (click)="selectedTrigger(key.value)">
            </md-grid-tile>
          </md-grid-list>
        </accordion-group>
      </div>
    </accordion-group>
  </accordion>

</div>