<div class="autoheight">
  <br/>
  <br/>
  <br/>

  <!-- Project's info -->
  <!-- valid string of project name to display within a line -->
  <div class="project_name">
      Project_name
      <button class="save_button"><i class="fa fa-floppy-o fa-lg" aria-hidden="true"></i></button>
  </div> 

  <!-- Search -->
  <div class="search-action margin-top">
    <form (submit)="searchAction(search.value)">
      <input class="form-control step1_search" placeholder="Search" type="text" #search />
    </form>
  </div>

<!--
  <div class="action-menu margin-top">
    <div class="well no-padding" id="dropdown-action">
      
      <ul class="nav nav-list nav-menu-list-style" *ngFor="let type of actions">
        <li *ngIf="actionHeadFilter(type)"><label class="tree-toggle nav-header glyphicon-icon-rpad">{{type.group_name}}
          <span class="menu-collapsible-icon glyphicon glyphicon-chevron-down"></span></label>
           <div id="test"></div>
            <ul class="nav nav-list tree bullets" *ngFor="let each of type.action">
                <li *ngIf="actionFilter(each.name)" class="eachAction" (click)="displayImage(each.img)">{{each.name}}</li>
            </ul>
        </li>
      </ul> 
    </div> <!-- well no-padding 
  </div> <!-- action-menu margin-top 

  <div>
    <Tree [actions]="actions"></Tree>
  </div>-->

</div> <!-- autoheight -->
