<div class="property-box" *ngIf="showProperties">
    <div class="well-edit">
    
        <p class="labelProperties"><label>Properties</label>
        <button class="butttonHideProperties" (click)="hideProperties()">
        <span class="glyphicon-fix glyphicon-remove" aria-hidden="true"></span>
        </button></p>
        

        <form [ngStyle]="setFormStyles()" *ngFor="let property of objProperties; let i=index;">
            <label>{{property.name}}</label><br/>

            <div *ngIf="property.control==='textbox'">
                <input #box type="text" [(ngModel)]="property.value" name="{{property.name}}" (keyup)="onKey(property)" (blur)="onOutOfFocus()">
            </div>
            <div *ngIf="property.control==='radio'">
                <input #box type="radio" [(ngModel)]="property.value" name="{{property.name}}" (keyup)="onKey(property)" (blur)="onOutOfFocus()">
            </div>
            <div *ngIf="property.control==='spinbox'">
                <input #box type="number" [(ngModel)]="property.value" name="{{property.name}}" (change)="onKey(property)" (blur)="onOutOfFocus()">
            </div>            
            <div *ngIf="property.control==='color'">
                <input #box type="color" [(ngModel)]="property.value" name="{{property.name}}" (keyup)="onKey(property)" (blur)="onOutOfFocus()">
            </div>

            <div *ngIf="property.control==='slider'">
                <input #box type="range" [(ngModel)]="property.value" name="{{property.name}}" (change)="onKey(property)" (blur)="onOutOfFocus()">
            </div>
        </form>
    </div>
</div>
<!--
<div class="property-box" *ngIf="showPropertiesEdge">
    <div class="well-edit">
    
        <p class="labelProperties"><label>Properties</label>
        <button class="butttonHideProperties" (click)="hideProperties()">
        <span class="glyphicon-fix glyphicon-remove" aria-hidden="true"></span>
        </button></p>
        

        <form [ngStyle]="setFormStyles()" *ngFor="let property of ObjPropertiesEdge; let i=index;">
            <label>{{property.name}}</label><br/>

            <div *ngIf="property.control==='NumberExpression'">
                <input #box type="number" [(ngModel)]="property.value" name="{{property.name}}" (keyup)="onKey(property)" (blur)="onOutOfFocus()">
            </div>

        </form>
    </div>
</div>-->