
  <!-- Fixed navbar -->
  <div class="navv">
    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <a class="navbar-brand" routerLink="/">Project Graph</a>
        </div>
        <div class="navbar-collapse collapse">
          <ul class="nav navbar-nav navbar-right">
            <li class="active"><a routerLink="/step1"><i class="fa fa-user-circle-o" aria-hidden="true"></i>
USER</a></li>
          </ul>
        </div>
        <!--/.nav-collapse -->
      </div>
    </nav>
  </div>

<div class="step1">
  <div class="under-nav"></div>

  <div class="right-side">
    <property #right (updateData)="middle.updataPropData($event)" (updateDataFinish)="middle.updataPropDataFinish($event)"></property>
  </div>


  <div class="row">
    <div [ngStyle]="setComponentMenuStyles()">
      <action #left (myEvent)="middle.addNewNode($event)"></action>
    </div>

    <div [ngStyle]="setCanvasStyles()">
      <middle #middle (nodeSelect)="right.populatePropertyWindow($event)"></middle>
    </div>
  </div>

</div>