
    <!-- Fixed navbar -->
    <nav id="navv" class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <a class="navbar-brand" routerLink="/">Project Graph</a>
        </div>
        <div class="navbar-collapse collapse">
          <ul class="nav navbar-nav navbar-right">
            <li class="active"><a routerLink="/step1"><i class="fa fa-user-circle-o" aria-hidden="true"></i>
USER</a></li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </nav>

<div [ngStyle]="setComponentMenuStyles()">
  <action #left (myEvent)="middle.addNewNode($event)" class="front"></action>
</div>

<div class="right-side">
  <property #right class="front"></property>
</div>

<div>
<middle #middle (nodeSelect)="right.populatePropertyWindow($event)" class="canvas-behind scrollable-action-menu"></middle>
</div>