<div style="font-family:'Roboto'">&nbsp;</div>

<div class="navv">
  <nav class="navbar navbar-fixed-top">
    <div class="container">
      <div class="navbar-header navbar-left">
        <a class="navbar-brand navbar-maker" routerLink="/">Maker</a>
        <a class="navbar-brand navbar-basic" routerLink="/">My Projects</a>
        <a class="navbar-brand navbar-basic" routerLink="/">Explore</a>
      </div>
      <div class="navbar-collapse collapse">
        <ul class="nav navbar-nav navbar-right">
          <li><a class="navbar-basic" routerLink="/step1"><i class="fa fa-user-circle-o" aria-hidden="true"></i>USER</a></li>
        </ul>
      </div>
    </div>
  </nav>
</div>


<div class="step1">
  <div class="under-nav">
    <p class="under-nav-basic  under-nav-column1">Project name</p>
    <p class="under-nav-basic  under-nav-space1"></p>
    <a class="under-nav-active under-nav-basic  under-nav-column" routerLink="/">Canvas</a>
    <a class="under-nav-basic  under-nav-column" routerLink="/">Devices</a>
    <a class="under-nav-basic  under-nav-column" routerLink="/">Blueprint</a>
    <p class="under-nav-basic  under-nav-space2"></p>
  </div>

  <div class="row">
    <div [ngStyle]="setComponentMenuStyles()">
      <action #left (addNode)="middle.addNewNode($event)" (addEdge)="middle.addNewEdge($event)"></action>
    </div>

    <div [ngStyle]="setCanvasStyles()">
      <middle #middle></middle>
    </div>
  </div>

</div>