@font-face {
    font-family: Roboto;
    src: url('Roboto-Regular.ttf');
}


.dropdown {
  display: block;
  width: 100%;
  height: 30px;
  font-size: 14px;
  line-height: 1.42857143;
  color: #555;
  background-color: #fff;
  background-image: none;
  border: 1px solid #ccc;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
          box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
  -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
       -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
          transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}

.customGrid {
    font-size: 12px;
    height: 30%;
    padding: 0;
    text-align: center;
    vertical-align: middle; 
    color: #444a62;
    background-color: white;
    width: 100%
}

.imgGrid {
    text-align: center; 
    vertical-align: middle; 
    width: 100%;
    height: 100%;
}

.center {
    width: 100%;
}

.cursor {
    cursor: pointer; 
    cursor: hand;
}

#grid {
    float:left; 
    font-size: 12px;
}

#grid div {
    float: left;
    padding: 3px;
}

.imgComponent{
    width: 60px;
    height: 60px;
}

.textDescrip {
    text-align: center;
}

.propertyRow {
    height: 50px;
}

.step1 {
    overflow: hidden;
}

.right-side{
    position: fixed;
    right: 5%;
    width: 15%;
    z-index: 5;
}

.navv {
    height: 50px;
    position: static;
    /*position: fixed;
    width: 100%;*/
    background-color: #444a62;
}

.navbar-left {
    float: left !important;
}

.navbar-maker {
    background-color: #96d1e6;
    color: #ffffff;
    width: 90px;
    padding-left: 30px;
    /*padding-right: 30px;*/
}

.navbar-basic {
    color: #ffffff;
    padding-left: 50px;
    font-size: 14px;
}

.navbar-right {
    float: right !important;
    margin-right: 50px;
}

.under-nav {
    position: relative;
    background-color: #f6f7f8;
    height: 50px;
    width: 100%;
	/*-webkit-box-shadow: 0 8px 6px -6px black;
	   -moz-box-shadow: 0 8px 6px -6px black;
	        box-shadow: 0 8px 6px -6px black;*/
    border-bottom: 1px solid lightgray;
    display: table;
    text-align: center;
}

.under-nav-basic {
    padding-top: 15px;
    color: #444a62;
}

.under-nav-column {
    display: table-cell;
    width: 10%;
}

.under-nav-column1 {
    display: table-cell;
    width: 20%;
}

.under-nav-space1 {
    display: table-cell;
    width: 15%;
}

.under-nav-space2 {
    display: table-cell;
    width: 35%;
}

.under-nav-active {
    background-color: #eff1f6;
    border-bottom: 3px solid #96d1e5;
}

.under-nav-inactive {
    color: #a5a5a5;
}

/*.typeSelection {
    min-height: 20px;
    background-color: lightblue;
}*/

.well-edit {
  min-height: 20px;
  /*background-color: #f5f5f5;*/
  background-color: #f4f4f5;
  border: 1px solid lightgray;
  /*border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .05);
          box-shadow: inset 0 1px 1px rgba(0, 0, 0, .05);*/
}

accordion-group>.panel {
    background: yellow;
    color: white;
}

.customClass {
    background: springgreen;
}

.property-box {
    margin-top: 30px;
}

.inputProperty {
    width: 50%;
    border-radius: 20px;
}

.search-action {
    padding-top: 5px;
    padding-bottom: 15px;
}

.step1_search {
    width: 90%;
    border-radius: 5px;
    margin: 0 auto;
}

.labelPropertiesMultiple {
  /*padding-left: 30px;*/
  padding-top: 5px;
  line-height:40px;
  font-size: 15px;
  border-bottom: 1px solid #e3e3e3;
}

.labelPropertiesSingle {
  padding-left: 30px;
  padding-top: 5px;
  line-height:40px;
  font-size: 15px;
  border-bottom: 1px solid #e3e3e3;
}

.glyphicon-fix {
  position: relative;
  font-family: 'Glyphicons Halflings';
  font-style: normal;
  font-weight: normal;
  line-height: 1;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
} 

.butttonHideProperties {
    position: relative;
    float: right;
    margin-top: 5px;
    margin-right: 5px;
    height: 25px;
    border: none;
    background-color: transparent;
    outline: none;
}

.butttonHideProperties:focus {
    border: none;
}

.buttonSetProperty {
    position: relative;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 15px;
}


input[type=text] {
  display: block;
  width: 100%;
  height: 30px;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.42857143;
  color: #555;
  background-color: #fff;
  background-image: none;
  border: 1px solid #ccc;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
          box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
  -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
       -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
          transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}

input[type=text]:focus {
  border-color: #66afe9;
  outline: 0;
  -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102, 175, 233, .6);
          box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102, 175, 233, .6);
}

input[type=number] {
  display: block;
  width: 100%;
  height: 34px;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.42857143;
  color: #555;
  background-color: #fff;
  background-image: none;
  border: 1px solid #ccc;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
          box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
  -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
       -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
          transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}

input[type=number]:focus {
  border-color: #66afe9;
  outline: 0;
  -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102, 175, 233, .6);
          box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102, 175, 233, .6);
}

.glyphicon-icon-rpad .glyphicon,.glyphicon-icon-rpad .glyphicon.m8,.fa-icon-rpad .fa,.fa-icon-rpad .fa.m8{ padding-right:8px; }
.glyphicon-icon-lpad .glyphicon,.glyphicon-icon-lpad .glyphicon.m8,.fa-icon-lpad .fa,.fa-icon-lpad .fa.m8{ padding-left:8px; }
.glyphicon-icon-rpad .glyphicon.m5,.fa-icon-rpad .fa.m5{ padding-right:5px; }
.glyphicon-icon-lpad .glyphicon.m5,.fa-icon-lpad .fa.m5{ padding-left:5px; }
.glyphicon-icon-rpad .glyphicon.m12,.fa-icon-rpad .fa.m12{ padding-right:12px; }
.glyphicon-icon-lpad .glyphicon.m12,.fa-icon-lpad .fa.m12{ padding-left:12px; }
.glyphicon-icon-rpad .glyphicon.m15,.fa-icon-rpad .fa.m15{ padding-right:15px; }
.glyphicon-icon-lpad .glyphicon.m15,.fa-icon-lpad .fa.m15{ padding-left:15px; }

ul.nav-menu-list-style .menu-collapsible-icon{
    position:absolute; right:3px; top:16px; font-size:9px; 
}

ul.nav-menu-list-style{
  margin:0;
}

/* Type of action, tree's root */
ul.nav-menu-list-style .nav-header{
  /*border-top:1px solid #FFFFFF;*/
  /*border-bottom:1px solid #e8e8e8;*/
  display:block;
  margin:0;
  line-height:40px;
  padding:0 10px;
  font-weight:600;
}

ul.nav-menu-list-style> li{
  position:relative; }
ul.nav-menu-list-style> li a{
  border-top:1px solid #FFFFFF;
  border-bottom:1px solid #e8e8e8;
  padding:0 10px;
  line-height:32px;
}

ul.nav-menu-list-style{list-style:none; padding:0px; margin:0px;}
ul.nav-menu-list-style li .badge,ul.nav-menu-list-style li .pull-right,ul.nav-menu-list-style li span.badge,ul.nav-menu-list-style li label.badge{float:right; margin-top:7px;}
ul.bullets{list-style:inside disc}
ul.numerics{list-style:inside decimal}
ul.kas-icon-aero li a:before{font-family: 'Glyphicons Halflings'; font-size:9px; content: "\e258"; padding-right:8px; }


.customRow {
    padding-top: 30px;
}

.imgLogo {
    position: absolute;
    left: 18px;
    top: 0;
    width: 70px;
    height: 50px;
}

.imgProject {
    width: 20px;
    height: 20px;
}

.textProject {
    margin-left: 5px;
}

#inline {
    display: inline-block;
}

#overflow {
    height: 500px;
    overflow-y: scroll;
}