<div class="navv2">
  <nav class="navbar navbar-fixed-top">
    <div class="container">
      <div class="navbar-header navbar-left">
        <a class="navbar-brand navbar-maker" routerLink="/">
          <div>
            <img class="imgLogo" src="/assets/img/nav-logo.svg" />
          </div>
        </a>
        <a class="navbar-brand navbar-basic" routerLink="/home">
          <div>
            <img class="imgProject" src="/assets/img/icon-project.svg" /><span class="textProject">My Projects</span>
          </div>
        </a>
      </div>
      <!--<div class="navbar-collapse collapse">
        <ul class="nav navbar-nav navbar-right">
          <li><a class="navbar-basic" routerLink="/step1"><i class="fa fa-user-circle-o" aria-hidden="true"></i>USER</a></li>
        </ul>
      </div>-->
    </div>
  </nav>
</div>


<div class="customContainer">

  <div class="btnRow">
    <div id="inline">
      <input #box type="text" name="project_name">
    </div>
    <div id="inline">
      <button class="btn btn-primary btn-margin" (click)="newProject(box.value)">+Create New Project</button>
    </div>
  </div>

</div>

<div class="allProjectsTable">
  <md-grid-list cols="4" rowHeight="4:3" gutterSize="20px">
    <md-grid-tile id="eachProject" *ngFor="let project of projects; let i = index" [colspan]="1" [rowspan]="1" [style.background]="'lightblue'"
      (click)="getProject(project.project_id)" (mouseover)='displayDelBtn(i)' (mouseout)="fadeDelBtn(i)">

      <div class="deleteProjectBtn" *ngIf="displayDel[i].delBtn === true" (click)="deleteProject(project.project_id)">
        <span class="glyphicon-fix glyphicon-remove" aria-hidden="true"></span>
      </div>

      <div class="projectName">
        <div class="fontProjectName">
          {{project.project_name}}
        </div>
      </div>

    </md-grid-tile>
  </md-grid-list>
</div>