<div class="navv2">
  <nav class="navbar navbar-fixed-top">
    <div class="container">
      <div class="navbar-header navbar-left">
        <a class="navbar-brand navbar-maker" routerLink="/">Maker</a>
        <a class="navbar-brand navbar-basic" routerLink="/">My Projects</a>
        <a class="navbar-brand navbar-basic" routerLink="/">Explore</a>
      </div>
      <div class="navbar-collapse collapse">
        <ul class="nav navbar-nav navbar-right">
          <li><a class="navbar-basic" routerLink="/step1"><i class="fa fa-user-circle-o" aria-hidden="true"></i>USER</a></li>
        </ul>
      </div>
    </div>
  </nav>
</div>


<div class="customContainer">

  <div class="btnRow">
    <button class="btn btn-primary btn-margin" id="newProjectBtn" (click)="newProject()">+Create New Project</button>
  </div>


  <div class="allProjectsTable">
    <div *ngFor="let project of displayProjectsTemplate; let i = index">


      <div class="peekImageProject" (click)="getProject(project.id0)" *ngIf="project.project0 !== undefined">
        <img class="imgPeek" src="/assets/img/Maker-logo-login.svg">

        <div class="projectName">
          <div class="fontProjectName">
            {{project.project0}}
          </div>
        </div>
      </div>

      <div class="peekImageProject" (click)="getProject(project.id1)" *ngIf="project.project0 !== undefined">
        <img class="imgPeek" src="/assets/img/Maker-logo-login.svg">

        <div class="projectName">
          <div class="fontProjectName">
            {{project.project1}}
          </div>
        </div>
      </div>

      <div class="peekImageProject" (click)="getProject(project.id2)" *ngIf="project.project2 !== undefined">
        <img class="imgPeek" src="/assets/img/Maker-logo-login.svg">

        <div class="projectName">
          <div class="fontProjectName">
            {{project.project2}}
          </div>
        </div>
      </div>

      <div class="peekImageProject" (click)="getProject(project.id3)" *ngIf="project.project3 !== undefined">
        <img class="imgPeek" src="/assets/img/Maker-logo-login.svg">

        <div class="projectName">
          <div class="fontProjectName">
            {{project.project3}}
          </div>
        </div>
      </div>


    </div>
  </div>

</div>





<!--
<div class="makerPlayground">
  <div class="loginCenter">
    <h1>Maker Playground</h1>
    <img class="img-robot" src="/assets/img/login-robot.svg">
  </div>

  <div class="allProjectsTable">
    All Projects
      <div *ngFor="let project of projects">
        <div>
          Id: {{project.project_id}}
          <br>Name: {{project.project_name}}
          <br>Modified: {{project.modified_date}}
          <button (click)="getProject(project.project_id)">SELECT</button>
        </div>
      </div>
  </div>

</div>-->