    <!-- Fixed navbar -->
    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <a class="navbar-brand" href="#">Project Graph</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <li><a routerLink="/">Home</a></li>
            <li><a routerLink="/tutorial">Tutorial</a></li>
            <li class="active"><a routerLink="/sample-project">Sample Projects</a></li>
          </ul>
          <ul class="nav navbar-nav navbar-right">
            <li><a routerLink="/step1">Getting Started</a></li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </nav>

<h1>SAMPLE PAGE</h1>