.img-robot {
    width: 500px;
    height: 500px;
}

.loginCenter {
    margin: 0 auto;
    text-align: center;
}

.navv2 {
    height: 50px;
    position: fixed;
    width: 100%;
    background-color: #444a62;
}

.makerPlayground {
    background-color: #eff1f6;
    padding-top: 51px;
}

.allProjectsTable {
    margin: 0 auto;
    text-align: center;
}