<div [ngStyle]="setBackground()">
  <div class="test">
    <div>
      <img class="logoLogin" src="assets/img/Maker-logo-login.svg">
    </div>

    <div>
      <button class="btn btn-primary btn-margin" id="loginBtn" (click)="auth.login()" *ngIf="!auth.authenticated()">Log In</button>
      <button class="btn btn-primary btn-margin" id="loginBtn" routerLink="/home" *ngIf="auth.authenticated()">Go to Projects</button>
      <button class="btn btn-danger btn-margin" id="loginBtn" (click)="auth.logout()" *ngIf="auth.authenticated()">Log Out</button>
    </div>

  </div>
</div>